# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
wotoubBinary
botBinary
__debug_bin

# Test binary, built with `go test -c`
*.test

# swap files
*.swp

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# session files
session/*.json
session/*.ub
session/*.session
session/*.date
session/*.info
session/*.woto
session/*.w
session/*.wotoub
session/*.wotoutils

# log files
*.log

# configuration file
config.ini


# Dependency directories (remove the comment below to include it)
# vendor/

# backup directory
backups/*

# other stuff that we might store for testing
*.mkv
*.mp4
*.mp3
*.zip
*.sql
*.tar
*.gz
*.bz2
*.7z
*.iso
*.dmg
*.sqlite
*.sqlite3
*.sqlite3-journal
*.sqlite3-wal
*.sqlite3-shm
